<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
">

    <!--Permite usar entre otras la anotación @Autowired -->
    <context:annotation-config/>
    <!--Permite usar entre otras las anotaciones @Component y @Controller -->
    <context:component-scan base-package="com.js"/>
    
    <!--Controllers -->
    <bean class="com.js.shared.utils.HibernateUtil" factory-method="getSessionFactory"  />
    <bean class="com.js.inv.dao.hql.FamiliaDAOHQL" />      
    <bean class="com.js.inv.dao.hql.MarcaDAOHQL" />      
    <bean class="com.js.inv.dao.hql.ClasArticuloDAOHQL" />    
    <bean class="com.js.inv.dao.hql.RenglonDAOHQL" />      
    <bean class="com.js.inv.dao.hql.AlmacenDAOHQL" />   
    <bean class="com.js.inv.dao.hql.UnidadDAOHQL" />           
    <bean class="com.js.inv.dao.hql.IngrActivoDAOHQL" />
    <bean class="com.js.inv.dao.hql.PresentacionDAOHQL" />           
    
    <!---Singleton -->
    <bean class="com.js.controller.others.KeyEventDispatcherJS" />  
    <bean class="com.js.controller.displacement.DisplacementObject" />  
  

</beans>
